:root {
    --primary-color: #10335c;
    --secondary-color: #EF343F;
    --accent1-color: #091318;
    --accent2-color: #92B9D6;
    --heading-font: 'Merriweather', serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}



header, footer {
    width: 100%;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
}


#course-title {
    display: block;
    height: 70px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;

}

 nav {
  background-color: #020f14;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin: 0;
}

nav a {
   color: #fff;
   text-decoration: none;
   padding-top: 7px;   
}

a:hover {
    color: yellow;
}

main {
    max-width: 94%;
    margin: 0 auto;
    padding: 4px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    
}

 .card {
     border: 1px solid rgb(175, 175, 168);
     margin: 5px; 
     border-radius: 10px; 
     height: auto;
 }
 
 .card > h1 {
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    align-content: center;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }

 #resources{
    margin: 40px 50px;
    align-content: center;
    align-items: center;
 }

 .card-separator {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
    font-family: sans-serif;
 }

 #flag-content{
    font-size: 12px;
    font-family: Hebrew;
    text-align: center;
 }

  .card-separator-second {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
 }
 .card-separator-second div {
    padding: 5px;
 }

 a {
    text-decoration: none;
 }

 #country{
    text-align: center;
    margin: 10px 40px;
    padding-bottom: 10px;
    border-bottom: 0.7px solid rgb(165, 160, 160);
 }


footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 70px; 
    margin-top: 20px;
}



footer p {
    align-items: center;
    align-content: center;
    margin-right: 100px;
}

#lastModified {
    color: rgb(241, 241, 21);
    font-size: 13px;
    margin-top: 10px;
}