

@media screen and (min-width: 500px){

    section {
       grid-template-columns: 1fr 1fr 1fr;
    }

	section img {
    height: 200px;
    width: 300px;
     border: 1px solid #bbb;
}


}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}